<% include ./partials/header.ejs %>

        <!--  content for index page -->
        <h1>BREWR</h1>
       <!--  Heres where my image would be IF I HAD ONE -->
       <div class="card-group">
           <%breweries.slice(-5).forEach((brewery) => {%>
               <%for(let i = 0; i < 6; i++)%> 
               <div class="card">
                   <div class="card-body">
                       <h4 class="card-title"><%=brewery.name%></h4>
                       <!-- rating -->
                       <span class="badge badge-success"><%=brewery.rating%>/5</span><br>
                       <a href="/breweries/<%=brewery.id%>" class="btn btn-secondary">Details</a>
                   </div>
            </div>
           <%})%>


      </div>
      </div>
      </div>