  <% include ../partials/header.ejs %>
    <div class="container">
        <header>
            <h1>All of the beer</h1>
                <br>  
                <%beer.forEach((el, i) => {%>
                    <%if(i % 3 == 0){%>
                        <div class="card-group"> 
                        <%}%>
                        <div class="card">
                        <div class="card-body">
                        <a class="card-title" href="/beer/<%=beer[i].id%>"><%=el.name%></a>
                    </div>
                     </div> 
            <%});%>
           
        </div>

        </header>
    </div>
</body>