  <% include ../partials/header.ejs %>
    <div class="container">
        <header>
            <h1>All of the beer</h1>
                <br>
                <div class="row"> 
                <%beer.forEach((el, i) => {%>
                    <%if(i % 3 == 0 && i != 0){%>
                        </div>
                        <div class="row">
                        <%}%>
                    <div class="col-md-3">
                        <a href="/beer/<%=beer[i].id%>"><%=el.name%></a>
                    </div>
            <%});%>
            </div> 

        </header>
    </div>
</body>
