<% include ../partials/header.ejs %>
<div class="container">
    <header>
        <h1>Add a new Beer</h1>
        <form action="/" method="post"></form>
            <label>Select Brewery</label>
            <br/>
            <%if(true){%>
                <p>Brewery: <%=brewery.name%></p>
            <%} else {%>
                <select name="breweryId">
                  <%for (let i = 0; i < breweries.length; i++){ %>
                       <option value="<%=breweries[i].id%>"><%=breweries[i].name%></option>
                  <%} %>
                </select>
            <%}%>
            <label>Beer Name</label>
         <form method="POST" action="/breweries/<%=brewery.id%>">
            <input type="text" name="name" placeholder="name of beer"><br/>
            <input type="text" name="style" placeholder="style">
            <input type="text" name="abv" placeholder="abv">
            <input type="text" name="ibu" placeholder="ibu"> <br/>
            <input type="text" name="hops" placeholder="hops">
            <input type="text" name="yeast" placeholder="yeast">
            <input type="text" name="additives" placeholder="additives"><br/>
            <input type="text" name="barrel" placeholder="barrel">
            <input type="text" name="picture" placeholder="url">
            <input type="submit" value="Submit New Beer">
        </form>
    </header>
</body>
</html>