 <% include ../partials/header.ejs %>

<div class='container'>
	<h1><%=user.name%>'s Brewr Profile</h1>
	
	<div class='col-lg-6'>
		<h3>Breweries: </h3>
			<%user.breweries.forEach((brewery) => {%>
				<li><%=brewery.name%></li>
			<%})%>
		<h3>Beers: </h3>
			<%user.beers.forEach((beer)=> {%>
				<li><%=beer.name%></li>
			<%})%>
	</div>









</div>
 	



</body>
</html>