<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>
    	<div class="row">
    		<a class="col-md-1" href="/breweries">Breweries</a>
    		| <a class="col-md-1" href="/beer">Beer</a>
    	</div>
	</nav>	
		<div class='container'>
			<h1><%=user.username%>'s Brewr Profile</h1>
		</div>
</body>
</html>
