  <% include ../partials/header.ejs %>
	<div class="container">
		<h1>Breweries Near You</h1>
			<ul>
				<div class="row">
				<%breweries.forEach((brewery, i) => {%>
					<div class='col-md-4'>
						<div class='list-group'>
							<a href="/breweries/<%=brewery.id%>"><%=brewery.name%></a>
						</div>
 						<br>
 						<div class="list-group-item-info">
 							<p><%=brewery.rating%>/5 stars</p>
 						</div>
 						<br>
					</div>
 				<%})%>
 				</div>
			</ul>
	</div>
</body>
</html>
	