<!DOCTYPE html>
<html>
<head>
	<title>Brewery Index Page</title>
</head>
<body>
	<ul>
		<%breweries.forEach((brewery, i) => {%>
 			<li><%=brewery.name%>: </li>
 				<br>
 				<p><%=brewery.location%></p>
 				<br>
 				<p>Price Level: <%=brewery.price%></p>
 				<br>
 				<p>Rating: <%=brewery.rating%></p>
 				<br>
 		<%})%>
	</ul>

</body>
</html>