<!DOCTYPE html>
<html>
<head>
	<title>Brewery Index Page</title>
</head>
<body>
	<h1>Breweries Near You</h1>
	<ul>
		<%breweries.forEach((brewery, i) => {%>
 			<li><a href="/breweries/<%=brewery.id%>"><%=brewery.name%></a>: </li>
 				<br>
 				<p>Rating: <%=brewery.rating%>/5 stars</p>
 				<br>
 		<%})%>
	</ul>

</body>
</html>