  <% include ../partials/header.ejs %>
	<div class="container">
		<h1>Breweries Near You</h1>
  			<%breweries.forEach((brewery) => {%>
  			<div class='container'>
  				<div class="card" class='col-md-6'>
  					<div class="card-body">
  						<h4 class="card-title"><%=brewery.name%></h4>
  						<p class="card-text text-primary"><%=brewery.rating%>/5</p>
 						<a href="/breweries/<%=brewery.id%>" class="btn btn-primary">Details</a>
  					</div>
  				</div>
  			</div>
  			<%})%>
	</div>
</body>
</html>
	